:root {
    --width: 700px;
    --color: #ffffff;
}



body {
    background-color: #8577E6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.main-content {
    display: inline-block;
    width: var(--width);
    margin-left: calc((100% - var(--width)) / 2);
    margin-top: 10%;
}

.left-column {
    float: left;
    width: 32%; 
    margin-left: 5px;
}

.right-column {
    width: 65%;
    float: right;
}

.main-title{
    color: var(--color); 
    font-size: 35px; 
    line-height: 1em;
}

.main-title > span {
    font-family:sans-serif;
    font-weight: 100;
    font-size: 32px;
}

.description{
    color: var(--color); 
    font-weight: 100; 
    font-size: 9px;
    letter-spacing: 0.05em;
    margin-bottom: 3em;
}

.btn {
    background-color: #ffffff; 
    width: 40%; 
    font-weight: 900; 
    font-size: 9px; 
    color: #8577E6;
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    transition: all 0.6s;
}

.btn:hover {
    background-color: #574EA5;
    color: #ffffff;
}